:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes moveFromTopToBottom {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);

    opacity: 1;
  }
}

.header-animation {
  animation: moveFromTopToBottom 0.8s cubic-bezier(0, 0, 0.18, 0.6);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.description,
.form-container,
.form {
  margin: 10px;
  color: black;
  opacity: 0;
  animation: slideIn 1s forwards;
}

.form {
  /* width: 300px;
  height: 300px; */
  animation-delay: 0.5s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  border: none;
  cursor: pointer;
  animation: fadeInUp 1s forwards;
  animation-delay: 1.5s;
  opacity: 0;
  padding: 20px 52px;
  border-radius: 40px;
}

/* input {
  text-align: left;
  line-height: 25px;
  letter-spacing: 0px;
  font-weight: 400;
  border-color: rgb(191, 195, 200);
  border-style: solid;
  border-width: 1px;
  padding: 15px 30px;
  border-radius: 42px;
} */

.form-container {
  animation: fadeInRight 1s forwards;
  animation-delay: 2s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.form {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInRight 1s forwards;
}



.react-multi-carousel-list {
  padding: 2px;
  overflow:visible;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 1s;
  overflow: hidden;
}

#prev:before,
#next:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s;
}

#prev {
  left: 0;
  z-index: 99;
}

#next {
  right: 0;
  z-index: 99;
}

#prev:hover:before,
#next:hover:before {
  opacity: 1;
}

#prev:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#prev:before {
  background-image: url("/assets/bg2.jpg");
}

#next:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#next:before {
  background-image: url("/assets/bg1.jpg");
}

.headText,
.headText1 {
  margin: 0;
  font-size: 2.5em;
  animation: fadeInDown 1s forwards;
  opacity: 0;
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
}

.subHead {
  margin: 0;
  font-size: 1.2em;
  animation: fadeInLeft 1s forwards;
  animation-delay: 1s;
  opacity: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 80%;
  /* width: 546px;
  height: 50px; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .form-container {
    display: none;
    /* Hide form container on mobile devices */
  }

  .flex {
    flex-direction: column;
    /* Adjust layout for better mobile display */
  }

  .headText {
    font-size: 30px;
    text-align: center;
    width: 90%;
    font-weight: 700;
    margin: auto;
  }

  .subHead {
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin: auto;
  }

  .description {
    text-align: center;
  }

  .container {
    height: 40vh;
  }

  #prev,
  #next {
    height: 40px;
    width: 40px;
  }
}

.background-images {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.background-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
  filter: brightness(0.6);
}

.background-images img:last-child {
  transform: rotateY(180deg);
}

.background-images.rotated {
  transform: rotateY(180deg);
}

.description {
  opacity: 0;
  animation: slideIn 1s forwards;
  text-align: left;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: none;
  animation: slideIn 1s forwards;
}